# data loading

In [4]:
import pandas as pd
dataset=pd.read_csv("Amazon Sale Report.csv")

C:\Users\vinshul jain\AppData\Local\Temp\ipykernel_11512\4115372390.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset=pd.read_csv("Amazon Sale Report.csv")

In [5]:
dataset

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

# common Pandas functions used in Python for data analysis.

In [7]:
dataset.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [8]:
dataset.tail()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.0,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [10]:
dataset.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

# (i)Data Exploration

In [12]:
dataset.shape
#give count of no. of row

(128975, 24)

In [13]:
dataset.columns
#give all columns name

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [14]:
dataset.dtypes
#give data type of all column with there name

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [15]:
dataset.value_counts
#frequency of unique values

<bound method DataFrame.value_counts of          index             Order ID      Date                        Status  \
0            0  405-8078784-5731545  04-30-22                     Cancelled
1            1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2            2  404-0687676-7273146  04-30-22                       Shipped
3            3  403-9615377-8133951  04-30-22                     Cancelled
4            4  407-1069790-7240320  04-30-22                       Shipped
...        ...                  ...       ...                           ...
128970  128970  406-6001380-7673107  05-31-22                       Shipped
128971  128971  402-9551604-7544318  05-31-22                       Shipped
128972  128972  407-9547469-3152358  05-31-22                       Shipped
128973  128973  402-6184140-0545956  05-31-22                       Shipped
128974  128974  408-7436540-8728312  05-31-22                       Shipped

       Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0        Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1        Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2          Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3        Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4          Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL
...           ...            ...                ...      ...              ...
128970     Amazon      Amazon.in          Expedited  JNE3697    JNE3697-KR-XL
128971     Amazon      Amazon.in          Expedited   SET401   SET401-KR-NP-M
128972     Amazon      Amazon.in          Expedited    J0157     J0157-DR-XXL
128973     Amazon      Amazon.in          Expedited    J0012     J0012-SKD-XS
128974     Amazon      Amazon.in          Expedited    J0003      J0003-SET-S

             Category  ... currency   Amount    ship-city    ship-state  \
0                 Set  ...      INR   647.62       MUMBAI   MAHARASHTRA
1               kurta  ...      INR   406.00    BENGALURU     KARNATAKA
2               kurta  ...      INR   329.00  NAVI MUMBAI   MAHARASHTRA
3       Western Dress  ...      INR   753.33   PUDUCHERRY    PUDUCHERRY
4                 Top  ...      INR   574.00      CHENNAI    TAMIL NADU
...               ...  ...      ...      ...          ...           ...
128970          kurta  ...      INR   517.00    HYDERABAD     TELANGANA
128971            Set  ...      INR   999.00     GURUGRAM       HARYANA
128972  Western Dress  ...      INR   690.00    HYDERABAD     TELANGANA
128973            Set  ...      INR  1199.00        Halol       Gujarat
128974            Set  ...      INR   696.00       Raipur  CHHATTISGARH

       ship-postal-code  ship-country  \
0              400081.0            IN
1              560085.0            IN
2              410210.0            IN
3              605008.0            IN
4              600073.0            IN
...                 ...           ...
128970         500013.0            IN
128971         122004.0            IN
128972         500049.0            IN
128973         389350.0            IN
128974         492014.0            IN

                                            promotion-ids    B2B  \
0                                                     NaN  False
1       Amazon PLCC Free-Financing Universal Merchant ...  False
2            IN Core Free Shipping 2015/04/08 23-48-5-108   True
3                                                     NaN  False
4                                                     NaN  False
...                                                   ...    ...
128970                                                NaN  False
128971       IN Core Free Shipping 2015/04/08 23-48-5-108  False
128972                                                NaN  False
128973       IN Core Free Shipping 2015/04/08 23-48-5-108  False
128974       IN Core Free Shipping 2015/04/08 23-48-5-108  False

        fulfilled-by Unnamed: 22
0          Easy Ship         NaN
1          Easy Ship         NaN
2                NaN         NaN
3          Easy Ship         NaN
4                NaN         NaN
...              ...         ...
128970           NaN       False
128971           NaN       False
128972           NaN       False
128973           NaN       False
128974           NaN       False

[128975 rows x 24 columns]>

In [16]:
# dataset.unique()  # give error because can't find find unique in all column
dataset["Date"].unique
#unique values

<bound method Series.unique of 0         04-30-22
1         04-30-22
2         04-30-22
3         04-30-22
4         04-30-22
            ...
128970    05-31-22
128971    05-31-22
128972    05-31-22
128973    05-31-22
128974    05-31-22
Name: Date, Length: 128975, dtype: object>

In [17]:
dataset.nunique()
#no. of unique value

index                 128975
Order ID              120378
Date                      91
Status                    13
Fulfilment                 2
Sales Channel              2
ship-service-level         2
Style                   1377
SKU                     7195
Category                   9
Size                      11
ASIN                    7190
Courier Status             3
Qty                       10
currency                   1
Amount                  1410
ship-city               8955
ship-state                69
ship-postal-code        9459
ship-country               1
promotion-ids           5787
B2B                        2
fulfilled-by               1
Unnamed: 22                1
dtype: int64

# (ii) Sorting & Indexing

In [19]:
dataset.sort_values(by="Category", ascending=True)
#sort in ascending order

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
51901,51901,404-2004344-3599546,05-29-22,Shipped,Amazon,Amazon.in,Expedited,J0217,J0217-BL-L,Blouse,...,INR,665.0,BAREILLY,UTTAR PRADESH,243006.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
101048,101048,402-3634988-1342766,06-21-22,Shipped,Amazon,Amazon.in,Expedited,J0219,J0219-BL-XL,Blouse,...,INR,794.0,BENGALURU,KARNATAKA,560049.0,IN,NaN,False,NaN,False
1011,1011,402-4205432-7587534,04-30-22,Shipped,Amazon,Amazon.in,Expedited,BL103,BL103-XL,Blouse,...,INR,460.0,HYDERABAD,TELANGANA,500072.0,IN,NaN,False,NaN,NaN
89864,89864,171-6914345-2306760,05-01-22,Shipped,Amazon,Amazon.in,Expedited,J0220,J0220-BL-XL,Blouse,...,INR,625.0,FARAKKA,WEST BENGAL,742236.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
23911,23911,406-5819646-7681958,04-16-22,Cancelled,Amazon,Amazon.in,Expedited,BL021,BL021-71BLACK,Blouse,...,NaN,NaN,NEW DELHI,DELHI,110092.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20722,20722,403-4409081-0015539,04-18-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3730,JNE3730-KR-XL,kurta,...,INR,299.0,"Kanipora,Nowgam Srinagar",JAMMU & KASHMIR,190015.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
78361,78361,171-7159837-5929919,05-08-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,PJNE2171,PJNE2171-KR-N-5XL,kurta,...,INR,1043.0,BHOPAL,MADHYA PRADESH,462022.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
78362,78362,171-1907586-6987562,05-08-22,Shipped,Amazon,Amazon.in,Expedited,PJNE2100,PJNE2100-KR-N-6XL,kurta,...,INR,728.0,BHOPAL,MADHYA PRADESH,462022.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
78341,78341,404-5277629-6194751,05-08-22,Shipped,Amazon,Amazon.in,Expedited,JNE3458,JNE3458-KR-XL,kurta,...,INR,369.0,HYDERABAD,TELANGANA,500049.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
64487,64487,403-0412445-3032336,05-19-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3720,JNE3720-KR-L,kurta,...,INR,517.0,BATHALAPALLE,ANDHRA PRADESH,515661.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False

In [20]:
dataset.sort_values(by="Category", ascending=False)
#sort in descending

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
64487,64487,403-0412445-3032336,05-19-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3720,JNE3720-KR-L,kurta,...,INR,517.0,BATHALAPALLE,ANDHRA PRADESH,515661.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49906,49906,404-5724431-3522733,05-31-22,Shipped,Amazon,Amazon.in,Expedited,MEN5024,MEN5024-KR-L,kurta,...,INR,665.0,Rajkot,Gujarat,360002.0,IN,NaN,False,NaN,False
107014,107014,404-7618969-7321160,06-16-22,Shipped,Amazon,Amazon.in,Expedited,JNE3875,JNE3875-KR-S,kurta,...,INR,599.0,NAVI MUMBAI,MAHARASHTRA,410209.0,IN,VPC-44571-44201770 Coupon,False,NaN,False
107013,107013,407-1573927-5301943,06-16-22,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XXL,kurta,...,INR,345.0,BENGALURU,KARNATAKA,560064.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
107012,107012,405-7385300-9825941,06-16-22,Shipped,Amazon,Amazon.in,Expedited,JNE3399,JNE3399-KR-XL,kurta,...,INR,435.0,BENGALURU,KARNATAKA,560076.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71375,71375,171-2607963-7212353,05-13-22,Shipped,Amazon,Amazon.in,Expedited,BL006,BL006-54BLACK,Blouse,...,INR,388.0,HYDERABAD,TELANGANA,500039.0,IN,NaN,False,NaN,False
111120,111120,171-3610942-8349133,06-13-22,Shipped,Amazon,Amazon.in,Expedited,BL109,BL109-M,Blouse,...,INR,518.0,CHENNAI,TAMIL NADU,600087.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
71383,71383,404-0135803-5750726,05-13-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,BL041,BL041-65RED-A,Blouse,...,INR,388.0,Nagercoil,TAMIL NADU,629001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
63512,63512,404-9647813-6859514,05-20-22,Shipped,Amazon,Amazon.in,Expedited,BL036,BL036-176GOLD,Blouse,...,INR,418.0,KOLKATA,WEST BENGAL,700019.0,IN,NaN,False,NaN,False
24610,24610,406-6474025-1992359,04-15-22,Shipped,Amazon,Amazon.in,Expedited,J0220,J0220-BL-S,Blouse,...,INR,625.0,PATNA,BIHAR,800008.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN

In [21]:
dataset.sort_values(by=["Category","Fulfilment"], ascending=[True,False])
#Sort by multiple columns

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
467,467,404-6096382-3389133,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,BL110,BL110-XL,Blouse,...,INR,329.0,LUDHIANA,PUNJAB,141012.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
729,729,408-4193711-8156307,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0215,J0215-BL-L,Blouse,...,INR,0.0,KARIMGANJ,ASSAM,788710.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
1651,1651,171-2002315-6616312,04-29-22,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,J0219,J0219-BL-XL,Blouse,...,INR,625.0,DALTONGANJ,JHARKHAND,822101.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2129,2129,406-2887147-6410739,04-29-22,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,BL109,BL109-M,Blouse,...,INR,518.0,GUWAHATI,ASSAM,781006.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2567,2567,408-7142634-8209915,04-29-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0219,J0219-BL-M,Blouse,...,INR,625.0,JANGAREDDIGUDEM,ANDHRA PRADESH,534447.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128953,128953,404-8878574-4524358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3761,JNE3761-KR-M,kurta,...,INR,301.0,Rishra Hooghly,WEST BENGAL,712249.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128959,128959,403-9813694-4657102,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3781,JNE3781-KR-M,kurta,...,INR,432.0,NEW DELHI,DELHI,110043.0,IN,NaN,False,NaN,False
128962,128962,408-9803724-6565965,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,MEN5024,MEN5024-KR-L,kurta,...,INR,665.0,MUMBAI,MAHARASHTRA,400056.0,IN,NaN,False,NaN,False
128967,128967,404-5182288-1653947,05-31-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3638,JNE3638-KR-XS,kurta,...,NaN,NaN,Kolkata,WEST BENGAL,700040.0,IN,NaN,False,NaN,False
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False

In [22]:
dataset.sort_index()
#sort by index

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [23]:
dataset.reset_index()
#reset index to default

,level_0,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [24]:
dataset.set_index("Order ID")
#set Order Id as column index

,index,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
Order ID,,,,,,,,,,,,,,,,,,,,,
405-8078784-5731545,0,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
171-9198151-1101146,1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
404-0687676-7273146,2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
403-9615377-8133951,3,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
407-1069790-7240320,4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406-6001380-7673107,128970,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
402-9551604-7544318,128971,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
407-9547469-3152358,128972,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
402-6184140-0545956,128973,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
408-7436540-8728312,128974,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

# (iii) Handling Missing Data

In [26]:
dataset.isnull()
#bool to all column null or not

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
128971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
128972,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
128973,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
128974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [27]:
dataset.isnull().sum()
#count no. of null or empty row in each column

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [28]:
dataset.dropna()
#drop null values

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
49051,49051,408-4858463-2356347,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0385,J0385-KR-M,kurta,...,INR,888.0,RAJAHMUNDRY,ANDHRA PRADESH,533126.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49077,49077,402-7697834-2682766,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3654,JNE3654-TP-XXL,Top,...,INR,371.0,CHENNAI,TAMIL NADU,600042.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49081,49081,402-7031777-0396341,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3798,JNE3798-KR-XS,Western Dress,...,INR,771.0,NEDUMANGAD,KERALA,695541.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49082,49082,408-1235521-4337163,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0152,J0152-DR-L,Western Dress,...,INR,0.0,LEH,JAMMU & KASHMIR,194101.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49083,49083,403-3845187-4421165,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0157,J0157-DR-XL,Western Dress,...,INR,690.0,PIMPRI CHINCHWAD,MAHARASHTRA,411027.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128872,128872,405-4724097-1016369,06-01-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0243,J0243-DR-S,Ethnic Dress,...,INR,999.0,ALLUR,ANDHRA PRADESH,524315.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
128873,128873,405-4724097-1016369,06-01-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0079,J0079-SKD-S,Set,...,INR,1523.0,ALLUR,ANDHRA PRADESH,524315.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
128874,128874,405-4724097-1016369,06-01-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0009,J0009-SKD-S,Set,...,INR,854.0,ALLUR,ANDHRA PRADESH,524315.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
128887,128887,405-6493630-8542756,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0301,J0301-TP-M,Top,...,INR,518.0,NOIDA,UTTAR PRADESH,201301.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
128891,128891,403-0317423-9322704,05-31-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3869,JNE3869-DR-M,Western Dress,...,INR,721.0,UTTAR BAGDOGRA,WEST BENGAL,734014.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False

In [29]:
dataset.fillna("a")
# fill null value

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,a,False,Easy Ship,a
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.0,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,a
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,a,a
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,a,False,Easy Ship,a
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.0,CHENNAI,TAMIL NADU,600073.0,IN,a,False,a,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,a,False,a,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,a,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,a,False,a,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.0,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,a,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,a,False

# (iv)Aggregation & Grouping

In [31]:
dataset.groupby("Status")["Amount"].agg(["mean", "sum", "count"])
#group by and calculate mean,sum,count

                                      mean         sum  count
Status
Cancelled                       642.697780   6919284.3  10766
Pending                         655.900915    430271.0    656
Pending - Waiting for Pick Up   683.765125    192138.0    281
Shipped                         648.541871  50324255.0  77596
Shipped - Damaged              1136.000000      1136.0      1
Shipped - Delivered to Buyer    648.475887  18650815.0  28761
Shipped - Lost in Transit       399.400000      1997.0      5
Shipped - Out for Delivery      770.600000     26971.0     35
Shipped - Picked Up             679.601233    661252.0    973
Shipped - Rejected by Buyer     663.181818      7295.0     11
Shipped - Returned to Seller    651.099487   1269644.0   1950
Shipped - Returning to Seller   742.206897    107620.0    145
Shipping                               NaN         0.0      0

In [32]:
dataset.groupby(["Status", "Amount"]).agg({"Amount": "sum", "Amount": "mean"})
#multiple group aggregations

                                        Amount
Status                        Amount
Cancelled                     218.10    218.10
                              229.00    229.00
                              236.19    236.19
                              237.14    237.14
                              241.00    241.00
...                                        ...
Shipped - Returning to Seller 1398.00  1398.00
                              1442.00  1442.00
                              1470.00  1470.00
                              1714.00  1714.00
                              1976.00  1976.00

[3587 rows x 1 columns]

In [33]:
dataset.pivot_table(values="Amount", index="Status", columns="Category", aggfunc="sum") #pivot table
# values='Score': The data you want to aggregate
# index='Name': Rows will be grouped by Name
# columns='Subject': Columns will be grouped by Subject
# aggfunc='mean': Aggregation function (can be 'sum', 'count', 'max', etc.)

# Customizations
# fill_value=0: Replace missing values with 0
# margins=True: Add totals row/column
# dropna=False: Keep rows with missing data

Category,Blouse,Bottom,Dupatta,Ethnic Dress,Saree,Set,Top,Western Dress,kurta
Status,,,,,,,,,
Cancelled,40019.18,15214.98,NaN,58473.66,9239.76,3472451.03,443726.3,1006482.69,1873676.7
Pending,1638.00,0.00,NaN,5704.00,NaN,210245.00,29883.0,68033.00,114768.0
Pending - Waiting for Pick Up,529.00,602.00,NaN,NaN,NaN,85441.00,10074.0,60635.00,34857.0
Shipped,323361.00,81386.00,915.0,549448.00,94769.00,25574413.00,3811430.0,5819859.00,14068674.0
Shipped - Damaged,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1136.00,NaN
Shipped - Delivered to Buyer,85444.00,48615.00,NaN,165465.00,18171.00,8800562.00,948734.0,3868616.00,4715208.0
Shipped - Lost in Transit,NaN,NaN,NaN,NaN,NaN,999.00,NaN,0.00,998.0
Shipped - Out for Delivery,NaN,NaN,NaN,NaN,NaN,17254.00,2518.0,4590.00,2609.0
Shipped - Picked Up,689.00,2871.00,NaN,438.00,756.00,343607.00,33057.0,135681.00,144153.0
Shipped - Rejected by Buyer,NaN,NaN,NaN,NaN,NaN,4492.00,815.0,899.00,1089.0
Shipped - Returned to Seller,6728.00,1461.00,NaN,11689.00,998.00,630724.00,62939.0,228227.00,326878.0
Shipped - Returning to Seller,NaN,518.00,NaN,NaN,NaN,63936.00,4616.0,21914.00,16636.0
Shipping,NaN,NaN,NaN,NaN,NaN,0.00,0.0,NaN,0.0

# (v) Merging & Joining

In [35]:
df1=dataset["Category"]
df2=dataset["Status"]

In [36]:
pd.concat([df1, df2])
# stack dataframes vertically or horizontally

0                   Set
1                 kurta
2                 kurta
3         Western Dress
4                   Top
              ...
128970          Shipped
128971          Shipped
128972          Shipped
128973          Shipped
128974          Shipped
Length: 257950, dtype: object

In [37]:
df1=dataset[["Category","Date","Fulfilment","Order ID"]]
df2=dataset[["Order ID","Status"]]

In [38]:
pd.concat([df1, df2])
# stack dataframes vertically or horizontally
#note both order id add on

             Category      Date Fulfilment             Order ID   Status
0                 Set  04-30-22   Merchant  405-8078784-5731545      NaN
1               kurta  04-30-22   Merchant  171-9198151-1101146      NaN
2               kurta  04-30-22     Amazon  404-0687676-7273146      NaN
3       Western Dress  04-30-22   Merchant  403-9615377-8133951      NaN
4                 Top  04-30-22     Amazon  407-1069790-7240320      NaN
...               ...       ...        ...                  ...      ...
128970            NaN       NaN        NaN  406-6001380-7673107  Shipped
128971            NaN       NaN        NaN  402-9551604-7544318  Shipped
128972            NaN       NaN        NaN  407-9547469-3152358  Shipped
128973            NaN       NaN        NaN  402-6184140-0545956  Shipped
128974            NaN       NaN        NaN  408-7436540-8728312  Shipped

[257950 rows x 5 columns]

In [39]:
pd.merge(df1, df2, on="Order ID", how="inner")
# SQL-style joins (inner, left, right, outer)

,Category,Date,Fulfilment,Order ID,Status
0,Set,04-30-22,Merchant,405-8078784-5731545,Cancelled
1,kurta,04-30-22,Merchant,171-9198151-1101146,Shipped - Delivered to Buyer
2,kurta,04-30-22,Amazon,404-0687676-7273146,Shipped
3,Western Dress,04-30-22,Merchant,403-9615377-8133951,Cancelled
4,Top,04-30-22,Amazon,407-1069790-7240320,Shipped
...,...,...,...,...,...
151762,kurta,05-31-22,Amazon,406-6001380-7673107,Shipped
151763,Set,05-31-22,Amazon,402-9551604-7544318,Shipped
151764,Western Dress,05-31-22,Amazon,407-9547469-3152358,Shipped
151765,Set,05-31-22,Amazon,402-6184140-0545956,Shipped
151766,Set,05-31-22,Amazon,408-7436540-8728312,Shipped

# (vi) String Operations (text cleaning, very common in analytics)

In [41]:
dataset["Category"].str.lower()

0                   set
1                 kurta
2                 kurta
3         western dress
4                   top
              ...
128970            kurta
128971              set
128972    western dress
128973              set
128974              set
Name: Category, Length: 128975, dtype: object

In [42]:
dataset["Category"].str.upper()

0                   SET
1                 KURTA
2                 KURTA
3         WESTERN DRESS
4                   TOP
              ...
128970            KURTA
128971              SET
128972    WESTERN DRESS
128973              SET
128974              SET
Name: Category, Length: 128975, dtype: object

In [43]:
dataset["Category"].str.contains("et")
# filter rows with pattern

0          True
1         False
2         False
3         False
4         False
          ...
128970    False
128971     True
128972    False
128973     True
128974     True
Name: Category, Length: 128975, dtype: bool

# (vii)Date & Time Handling

In [45]:
pd.to_datetime(dataset["Date"])

C:\Users\vinshul jain\AppData\Local\Temp\ipykernel_11512\2895298248.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(dataset["Date"])

0        2022-04-30
1        2022-04-30
2        2022-04-30
3        2022-04-30
4        2022-04-30
            ...
128970   2022-05-31
128971   2022-05-31
128972   2022-05-31
128973   2022-05-31
128974   2022-05-31
Name: Date, Length: 128975, dtype: datetime64[ns]

In [46]:
dataset["Date"]=pd.to_datetime(dataset["Date"])
#convert to datetime

C:\Users\vinshul jain\AppData\Local\Temp\ipykernel_11512\3325221374.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dataset["Date"]=pd.to_datetime(dataset["Date"])

In [47]:
dataset["Date"].dt.year

0         2022
1         2022
2         2022
3         2022
4         2022
          ...
128970    2022
128971    2022
128972    2022
128973    2022
128974    2022
Name: Date, Length: 128975, dtype: int32

In [48]:
dataset["Date"].dt.month

0         4
1         4
2         4
3         4
4         4
         ..
128970    5
128971    5
128972    5
128973    5
128974    5
Name: Date, Length: 128975, dtype: int32

In [49]:
dataset["Date"].dt.day

0         30
1         30
2         30
3         30
4         30
          ..
128970    31
128971    31
128972    31
128973    31
128974    31
Name: Date, Length: 128975, dtype: int32

# (viii) Exporting Data

In [51]:
# dataset.to_csv("output.csv", index=False) # save DataFrame to CSV

In [52]:
# dataset.to_excel("output.xlsx", index=False) #save to Excel

# Column filtering

In [54]:
Category_column=dataset["Category"]

In [55]:
Category_column

0                   Set
1                 kurta
2                 kurta
3         Western Dress
4                   Top
              ...
128970            kurta
128971              Set
128972    Western Dress
128973              Set
128974              Set
Name: Category, Length: 128975, dtype: object

In [56]:
mut_column=dataset[["Category","Size"]]

In [57]:
mut_column

             Category Size
0                 Set    S
1               kurta  3XL
2               kurta   XL
3       Western Dress    L
4                 Top  3XL
...               ...  ...
128970          kurta   XL
128971            Set    M
128972  Western Dress  XXL
128973            Set   XS
128974            Set    S

[128975 rows x 2 columns]

In [58]:
dataset.loc[2:5,["Category","Size"]]
#add 5 also and we to give column if we need specific column 
#dataset.loc[2:5,1:3]]#error

        Category Size
2          kurta   XL
3  Western Dress    L
4            Top  3XL
5            Set   XL

In [59]:
# dataset.iloc[2:5,["Category","Size"]]#error if column name is given
dataset.iloc[2:5,1:3]
#not add 5

              Order ID       Date
2  404-0687676-7273146 2022-04-30
3  403-9615377-8133951 2022-04-30
4  407-1069790-7240320 2022-04-30

# row filtering

In [118]:
dataset_filtered = dataset[dataset['Date'] > "2022-05-03"]

In [120]:
dataset_filtered

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
49050,49050,403-5326073-3735562,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XXL,kurta,...,INR,345.00,BYASANAGAR,ODISHA,755019.0,IN,NaN,False,NaN,False
49051,49051,408-4858463-2356347,2022-05-31,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0385,J0385-KR-M,kurta,...,INR,888.00,RAJAHMUNDRY,ANDHRA PRADESH,533126.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49052,49052,402-4624872-7642747,2022-05-31,Cancelled,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-L,Set,...,NaN,NaN,Lucknow,UTTAR PRADESH,226028.0,IN,NaN,False,NaN,False
49053,49053,402-5892689-9803563,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0301,J0301-TP-L,Top,...,INR,518.00,MUMBAI,MAHARASHTRA,400088.0,IN,NaN,False,NaN,False
49054,49054,408-7992960-7468306,2022-05-31,Cancelled,Merchant,Amazon.in,Standard,MEN5032,MEN5032-KR-L,kurta,...,INR,772.38,MUMBAI,MAHARASHTRA,400056.0,IN,NaN,False,Easy Ship,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [124]:
# Age > 30 AND Salary > 50000
dataset_filtered = dataset[(dataset['Date'] > "2022-05-03") & (dataset['Status'] == "Shipped")]

In [126]:
dataset_filtered

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
49050,49050,403-5326073-3735562,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3487,JNE3487-KR-XXL,kurta,...,INR,345.0,BYASANAGAR,ODISHA,755019.0,IN,NaN,False,NaN,False
49053,49053,402-5892689-9803563,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0301,J0301-TP-L,Top,...,INR,518.0,MUMBAI,MAHARASHTRA,400088.0,IN,NaN,False,NaN,False
49055,49055,408-1575008-5742745,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0162,J0162-SKD-XL,Set,...,INR,1199.0,HYDERABAD,TELANGANA,500006.0,IN,NaN,False,NaN,False
49056,49056,408-7491199-9117934,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0111,J0111-TP-XXL,Top,...,INR,423.0,NEW DELHI,DELHI,110015.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
49057,49057,403-9533619-4173139,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3654,JNE3654-TP-M,Top,...,INR,371.0,BENGALURU,KARNATAKA,560035.0,IN,NaN,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.0,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [128]:
# Age > 30 OR Salary > 50000
dataset_filtered = dataset[(dataset['Date'] > "2022-05-03") | (dataset['Status'] == "Shipped")]

In [130]:
dataset_filtered

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.0,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
5,5,404-1490984-4578765,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,SET264,SET264-KR-NP-XL,Set,...,INR,824.0,GHAZIABAD,UTTAR PRADESH,201102.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
6,6,408-5748499-6859555,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,J0095,J0095-SET-L,Set,...,INR,653.0,CHANDIGARH,CHANDIGARH,160036.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
9,9,402-4393761-0311520,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3461,JNE3461-KR-XXL,kurta,...,INR,363.0,Chennai,TAMIL NADU,600041.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.0,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [144]:
# Filter using query() (more readable)
dataset_filtere = dataset.query("Date > '2022-05-03' and Amount > 400")

In [146]:
dataset_filtere

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
49051,49051,408-4858463-2356347,2022-05-31,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0385,J0385-KR-M,kurta,...,INR,888.00,RAJAHMUNDRY,ANDHRA PRADESH,533126.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
49053,49053,402-5892689-9803563,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0301,J0301-TP-L,Top,...,INR,518.00,MUMBAI,MAHARASHTRA,400088.0,IN,NaN,False,NaN,False
49054,49054,408-7992960-7468306,2022-05-31,Cancelled,Merchant,Amazon.in,Standard,MEN5032,MEN5032-KR-L,kurta,...,INR,772.38,MUMBAI,MAHARASHTRA,400056.0,IN,NaN,False,Easy Ship,False
49055,49055,408-1575008-5742745,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0162,J0162-SKD-XL,Set,...,INR,1199.00,HYDERABAD,TELANGANA,500006.0,IN,NaN,False,NaN,False
49056,49056,408-7491199-9117934,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0111,J0111-TP-XXL,Top,...,INR,423.00,NEW DELHI,DELHI,110015.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False